{% extends "base.html" %}
{% block title %}Login Page{% endblock %}
{% block content %} 
<body>
    {% if error %}
        <p style="color: red;" class="form">{{ error }}</p>
    {% endif %}
    <form action="/login" method="POST" class="form">
        <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" class="form-control" id="username" name="username" required style="max-width: 350px;">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" class="form-control" id="password" name="password" required style="max-width: 350px;">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</body>
</html>

{% endblock %}